/* Default values for all elements */
* {
    font-family: Helvetica, Arial, sans-serif;
    overflow-y: auto;
}

.header {
    text-align: center;
    height: 15vh;
}

table {
    width: 60%;
}

table, th, tr, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: right;
}

th {
    background-color: rgb(51, 50, 50);
    color: white;
}

tfoot {
    background-color: rgba(255, 218, 185, 0.39);
}

input {
    border: 0px solid transparent;
    width: 96%;
}

input:hover {
    cursor: pointer;
    color: (0, 0, 0, 0);
}

.center {
    margin-right: auto;
    margin-left: auto;
}

button {
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.4s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.buttons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Scaling for different screen sizes */
@media screen and (max-width: 700px) {
    table {
        width: 100%;
        font-size: 20px;
        table-layout: fixed;
    }

    button {
        width: 30%;
    }
}