# Ignore the homepage when committing because the server creates it regardless
public/index.html

# Ignore all blog files created in the public directory because the server creates them regardless
public/blog/**