@media screen and (min-width: 701px) {
    .container {
        height: 40%;
        width: 40%;
    }
}

@media screen and (max-width: 700px) {
    .container {
        height: 70%;
        width: 100%;
    }
}

* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; 
    -webkit-text-fill-color: black;
}

body {
    margin-top: 25vh;
    background-color: rgba(100, 100, 100, 0.15);
}

button {
    height: 80%;
    width: 23.5%;
    border: 0px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

.head {
    height: 3em;
}

.display {
    height: 100%;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 20px 20px 0 0;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 30px;
    text-align: right;
}

.body {
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 4;
    height: 41vh;
    margin: 1em;
}

.operation {
    background-color: rgba(0, 183, 255, 0.466);
}

.operation:hover {
    background-color: rgba(0, 183, 255, 0.3);
}

.clear {
    background-color: rgba(253, 157, 157, 0.8);
}

.clear:hover {
    background-color: rgba(253, 157, 157, 1);
}