@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Tilt Warp';
  src: url('/fonts/TiltWarp-Regular-VariableFont_XROT\,YROT.ttf') format('truetype');
}

@font-face {
  font-family: 'Finger Paint';
  src: url('/fonts/FingerPaint-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jaro';
  src: url('/fonts/Jaro-Regular.ttf') format('truetype');
}

:root {
  --bg-colour: #ffffff;
  --text-colour: #000000;
  --program-colour: rgb(250, 240, 231);
  --font: "Atkinson Hyperlegible", Helvetica, Arial, sans-serif;
  --games-colour: rgb(76, 159, 248);
}

body {
  font-family: var(--font);
  min-height: 100%;
}

header {

}

a {
  text-decoration: none;
  cursor: pointer;
}

.programs a {
  color: var(--text-colour);
  background-color: var(--program-colour);
  border-radius: 1em;
  height: 15em;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 7px 10px rgb(158, 158, 158);
  transition: 0.2s ease-out;
}

.program {
  width: 15em;
  align-self: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
}

#fb {
  background-image: url("/img/fb_preview.png");
  /*background-position: 0px 0px; */
}

#pong {
  background-image: url("/img/pong_preview.png");
}

#wanted {
  background-image: url("/img/wanted_preview.png");
  background-position: -1px -1px;
}

.programs {
  display: flex;
  gap: 2em;
  text-align: center;
  margin-top: 30vh;
  padding-top: 20px;
  padding-left: 10px;
  height: 20em;
  scrollbar-width: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 25px;
}

.header {
  height: 50%;
}

.programs > div > .programs-hover {
  margin: -5px;
  border: 5px solid var(--games-colour);
  transition: 0.2s ease-in;
  transform: translateY(-10px);
}

.program > h1 {
  color: white;
  user-select: none;
}

.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon > img {
  width: 2em;
  height: 2em;
  margin: 1em;
  transition: all 0.2s ease-in;
}

.icon > img:hover {
  transform: scale(1.2);
  transition: all 0.25s ease-out;
  cursor: pointer;
}

.project {
  height: 15em;
  width: 1.5em;
  max-width: 25vw;
  background-color: grey;
  transition: all 0.2s ease-in;
}

.project:hover {
  transform: scale(1.05) !important;
  transition: all 0.25s ease-out;
}

.project > h3 {
  user-select: none;
  margin: 0em;
}

.project-selected {
  transition: all 0.2s ease-in;
  width: 30%;
  height: 15em !important;
  border: 5px solid white;
}

.projects > li:not(.project-selected) .project-details {
  display: none;
}

.project-grid {

}

li {
  list-style-type: none;
  position: relative;
  margin: 3px;
  height: 15em;
}

.projects {
  display: flex;
  text-align: center;
}

button {
  background-color: transparent;
  color: white;
  border: 2px solid grey;
  border-radius: 4px;
  font-family: var(--font);
  font-weight: bolder;
  height: 3vh;
  width: 10vw;
  cursor: pointer;
  transition: 0.25s ease-out;
}

button:hover {
  transform: scale(1.01);
}

.buttons {
  display: flex;
  gap: 1em;
  position: absolute;
  bottom: 10px;
  justify-self: center;
  margin-left: 1em;
  margin-right: 1em;
}

.projects > li:not(.project-selected) h3 {
  transform: rotate(-90deg);
  width: 9em;
  position: absolute;
  left: -300%;
  top: 45%;
  transition: none;
}

.projects > li.project-selected h3 {
  display: none;
}

.games-hotbar {
  margin: 0.5em;
  display: flex;
  gap: 4em;
  user-select: none;
}

.games-hotbar a {
  position: relative;
  display: flex;
  justify-content: center;
  width: 2em;
}

.hotbar-icon {
  padding: 0.6em;
  border: 2px solid black;
  border-radius: 100%;
  background-color: #efefef;
  transition: 0.2s ease-out;
}

.hotbar-name {
  visibility: hidden;
  text-decoration: none;
  color: var(--games-colour);
  position: absolute;
  width: max-content;
  top: 2em;
}

.hotbar-icon:hover {
  margin: -5px;
  border: 5px solid var(--games-colour);
  transition: 0.2s ease-in;
}

.hotbar-icon:hover + .hotbar-name {
  visibility: visible;
}

#mii {
  height: 8vh;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#home {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  padding-top: 2em;
  padding-bottom: 4em;
}

#games-sep {
  width: 95%;
  margin-top: 2em;
  color: black;
}

#menu-controls {
  display: flex;
  gap: 0.5em;
  visibility: hidden;
  justify-content: flex-end;
}

header {
  display: flex;
}

nav {
  margin-left: auto;
  height: 2em;
}

nav a {
  padding: 1em;
  clip-path: polygon(20%0%, 100% 0%, 80% 100%, 0% 100%);
}

.navbar-selected {
  background-color: white;
  color: black;
}

nav a:last-child {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}