@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Tilt Warp';
  src: url('/fonts/TiltWarp-Regular-VariableFont_XROT\,YROT.ttf') format('truetype');
}

@font-face {
  font-family: 'Finger Paint';
  src: url('/fonts/FingerPaint-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jaro';
  src: url('/fonts/Jaro-Regular.ttf') format('truetype');
}

:root {
  --bg-colour: #ffffff;
  --text-colour: #000000;
  --dark-bg-colour: #2c2c2c;
  --dark-text-colour: #ffffff;
  --program-colour: rgb(250, 240, 231);
  --font: 'Atkinson Hyperlegible', Helvetica, Arial, sans-serif;
  --games-colour: rgb(76, 159, 248);
  --project-height: 30em;
}

body {
  font-family: var(--font);
  min-height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.programs a {
  color: var(--text-colour);
  background-color: var(--program-colour);
  border-radius: 1em;
  height: 15em;
  width: 15em;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 7px 10px rgb(158, 158, 158);
  transition: 0.2s ease-out;
}

.program {
  align-self: center;
}

.programs {
  display: flex;
  gap: 2em;
  margin-top: 30vh;
  height: 20em;
  padding-left: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 25px;
}

.header {
  height: 50%;
}

.programs > div > .programs-hover {
  margin: -5px;
  border-style: solid;
  border-width: 5px;
  transition: 0.2s ease-in;
  transform: translateY(-10px);
}

.programs-hover-dark {
  border-color: rgb(179, 97, 23);
}

.programs-hover-light {
  border-color: var(--games-colour);
}

.program > h1 {
  color: white;
  user-select: none;
}

.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon > img {
  width: 2em;
  height: 2em;
  margin: 1em;
  transition: all 0.2s ease-in;
}

.icon > img:hover {
  transform: scale(1.2);
  transition: all 0.25s ease-out;
  cursor: pointer;
}

.games-hotbar {
  margin: 0.5em;
  display: flex;
  gap: 4em;
  user-select: none;
}

.games-hotbar a {
  position: relative;
  display: flex;
  justify-content: center;
  width: 2em;
}

.hotbar-icon {
  padding: 0.6em;
  border: 2px solid black;
  border-radius: 100%;
  background-color: #efefef;
  transition: 0.1s ease-out;
}

.hotbar-name {
  visibility: hidden;
  text-decoration: none;
  color: var(--games-colour);
  position: absolute;
  width: max-content;
  top: 2em;
}

.hotbar-icon:hover {
  margin: -5px;
  border: 5px solid var(--games-colour);
  transition: 0.2s ease-in;
}

.hotbar-icon:hover + .hotbar-name {
  visibility: visible;
}

#mii {
  height: 8vh;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

main {
  flex: 1;
  background-color: var(--bg-colour);
}

main > div.container {
  width: 100%;
  color: black;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#games-sep {
  width: 95%;
  margin-top: 2em;
  color: black;
}

#menu-controls {
  display: flex;
  gap: 0.5em;
  visibility: hidden;
  justify-content: flex-end;
}

header {
  display: flex;
}

nav {
  margin-left: auto;
  height: 2em;
}

nav a {
  width: 2em;
  padding: 1em;
  clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.navbar-selected {
  background-color: white;
  color: black;
}

nav a:last-child {
  width: 2em;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#colour-mode {
  display: inline-flex;
}

li {
  list-style-type: none;
  text-align: left;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
  margin-right: 3em;
  border: 2px solid black;
  border-radius: 10px;
}

li > h2 {
  margin: 0;
}

button {
  background-color: white;
  color: black;
  border: 2px solid grey;
  border-radius: 4px;
  font-family: var(--font);
  font-weight: bolder;
  height: 2em;
  width: 8em;
  cursor: pointer;
  transition: 0.25s ease-out;
}

button:hover {
  transform: scale(1.01);
  filter: brightness(90%);
}

.buttons {
  display: flex;
  gap: 1em;
}