* {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: transparent; 
    -webkit-text-fill-color: black;
}

body {
    margin-top: 22.5vh;
    margin-bottom: 22.5vh;
    background-color: rgba(100, 100, 100, 0.15);
}

button {
    border: 0px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s ease;
    user-select: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: min(95vw, 400px);
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

.display {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.25em;
    border: 2px solid transparent;
    border-radius: 20px 20px 0 0;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 30px;
    text-align: right;
    word-wrap: break-word;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 90%;
    width: 100%;
}

.other-rows {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 80%;
    margin: 1em;
    place-items: stretch;
}

.operation {
    background-color: rgba(0, 183, 255, 0.466);
}

.clear {
    background-color: rgba(253, 157, 157, 0.8);
}

.top-row {
    height: 10%;
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin: 1em 1em 0 1em;
}

div.top-row > button {
    height: 3em;
    width: 100%;
    border-radius: 10em;
    font-size: 15px;
}

.row {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.row > button {
    margin: 0.3em;
}