:root {
  --project-height: 30em;
}

.project {
  height: 15em;
  width: 1.5em;
  max-width: 25vw;
  background-color: grey;
  transition: all 0.2s ease-in;
}

.project:hover {
  transform: scale(1.05) !important;
  transition: all 0.25s ease-out;
}

.project > h3 {
  user-select: none;
  margin: 0em;
}

.project-selected {
  transition: all 0.2s ease-in;
  width: 30%;
  height: var(--project-height) !important;
  border: 5px solid white;
}

.projects > li:not(.project-selected) .project-details {
  display: none;
}

.project-grid {

}

li {
  list-style-type: none;
  position: relative;
  margin: 3px;
  height: var(--project-height);
}

.projects {
  display: flex;
  text-align: center;
}

.projects > li:not(.project-selected) h3 {
  transform: rotate(-90deg);
  width: calc(2*(var(--project-height) / 3));
  position: absolute;
  left: -730%;
  top: 50%;
  transition: none;
}

.projects > li.project-selected h3 {
  display: none;
}

.project-details > p {
  overflow-y: auto;
  margin: 1em;
}

.project-details {
  height: 50%;
}