{% extends "base.html" %}

{% block title %}saacutter.github.io{% endblock %}

{% block body %}
            <div class="container">
                <img src="/img/mii.png" id="mii">
                <p class="centered">This is some text.</p>
            </div>
            <div class="container">
                <ul id="projects-list" style="padding-left: 0;">
                    <li>
                        <h2>Mini-Language Transpiler</h2>
                        <div>
                            <p>This was the first project developed for CITS2002 (Systems Programming) in semester 2 2024. The goal of the project was to implement a C11 program which compiled and executed the code of a non-existent mini programming language.</p>
                            <div class="buttons">
                                <a href="https://github.com/saacutter/minilang-transpiler"><button>Source Code</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2>Virtual Memory Simulation</h2>
                        <div>
                            <p>This was the second project developed for CITS2002 (Systems Programming) in semester 2 2024. The goal of this project was to simulate a virtual memory system using an array as the RAM of some universal Turing machine.</p>
                            <div class="buttons">
                                <a href=""><button>Source Code</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2>Tournament Manager</h2>
                        <div>
                            <p>This was the project developed for CITS3403 (Agile Web Development) in semester 1 2025. This is a web application using the Flask framework that allows users to upload data from their played tournaments and share that with friends.</p>
                            <div class="buttons">
                                <a href="https://github.com/saacutter/tournament-manager"><button>Source Code</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2>Australian Employment Trends</h2>
                        <div>
                            <p>This was the project developed for CITS2402 (Introduction to Data Science) in semester 2 2025. It compares the employment trends in Australia using Census data from the ABS from 2016 and 2021.</p>
                            <div class="buttons">
                                <a href="https://github.com/saacutter/census-employment-trends"><button>Source Code</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2>The Diplomacy Agent</h2>
                        <div>
                            <p>This was the project developed for CITS3011 (Intelligent Agents) in semester 2 2025. This is an agent that can play the popular strategy board game The Diplomacy.</p>
                            <div class="buttons">
                                <a href="https://github.com/saacutter/diplomacy-agent"><button>Source Code</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2>Calculator</h2>
                        <div>
                            <p>This is a basic calculator which I developed to learn HTML, CSS, and JavaScript.</p>
                            <div class="buttons">
                                <a href="/calculator/"><button>Project Demo</button></a>
                                <a href="https://github.com/saacutter/Calculator"><button>Source Code</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2>Grade Calculator</h2>
                        <div>
                            <p>TEMPORARY</p>
                            <div class="buttons">
                                <a href="/grades/"><button>Project Demo</button></a>
                                <a href="https://github.com/saacutter/Grade-Calculator"><button>Source Code</button></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h2>Password Manager</h2>
                        <div>
                            <p>TEMPORARY</p>
                            <div class="buttons">
                                <a href="/Projects/PasswordManager/password.html"><button>Project Demo</button></a>
                                <a href="https://github.com/saacutter/Password-Manager"><button>Source Code</button></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="centered">
                    {% for post in posts %}
                        <a href="/{{ '%02d' | format(post.meta.created.year) }}/{{ '%02d' | format(post.meta.created.month) }}/{{ '%02d' | format(post.meta.created.day) }}/{{ post.meta.slug }}" class="post-entry">
                            <p>{{ post.meta.title }}</p>
                            <p>{{ post.meta.created.strftime('%d/%m/%Y') }} {% if "updated" in post.meta %}<span>(Updated on {{ post.meta.updated.strftime('%d/%m/%Y') }} at {{ post.meta.updated.strftime('%I:%M%p') }} UTC)</span>{% endif %}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
{% endblock %}