{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
            <div class="centered">
                <header>
                    <h1>{{ post.meta.title }}</h1>
                    <p>{{ post.meta.created.strftime('%d %B, %Y') }} {% if "updated" in post.meta %}<span>(Updated on {{ post.meta.updated.strftime('%d %B, %Y') }} at {{ post.meta.updated.strftime('%I:%M%p') }} UTC)</span>{% endif %}</p>
                </header>
                <hr style="width: 70%; border: 1px solid black;">
                <article class="centered post">
                    {{ post.content }}
                </article>
            </div>
{% endblock %}